body {
    width: 960px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

header {
    padding: 5px 0 5px 0;
}

a {
    margin-bottom: 5px;
}

aside {
    width: 160px;
    padding: 0px 2px 0 2px;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

aside > ul {
    list-style: none;
}

aside > ul > li {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
}

th {
    padding: 18px;
    background-color: #02AB8B;
}

td {
    padding: 12px;
}

th, td {
    border: 1px solid gray;
}

.content {
    width: 800px;
    float: left;
    border-left: 2px solid gray;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.content img {
    float: left;
    margin-right: 20px;
}
